// Colors
.color-0 {
  background-color: teal;
}

.color-1 {
  background-color: red;
}

.color-2 {
  background-color: magenta;
}

.color-3 {
  background-color: greenyellow;
}

.color-4 {
  background-color: green;
}

.color-5 {
  background-color: blue;
}

.color-6 {
  background-color: brown;
}

.color-7 {
  background-color: indigo;
}

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
